h1 {
    color:rgba(118, 3, 248, 0.966);
} 
h2 {
    color:rgb(251, 45, 8);
}

.header {
    background-color: rgb(0, 217, 255);
    display:flex;
    justify-content: space-between;
}
.ImagesGroup {
    background-color:coral;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}